<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="init">
  <div class="board_list">
    <table>
        <thead>
            <tr class="table_menu">
                <th class="list_category">카테고리</th>
                <th class="list_subject">제목</th>
                <th class="list_writer">작성자</th>
                <th class="list_date">작성일</th>
                <th class="list_watch">조회수</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr class="table_list">
                <td class="list_category">미정</td>
                <td class="list_subject" id="list_subject">{{post.title}}</a></td>
                <td class="list_writer" id="list_writer">{{post.writer}}</td>
                <td class="list_date">{{post.createdAt}}</td>
                <td class="list_watch">{{post.read}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/board/write"><button>글 쓰기</button></a>
</div>
</section>    
<!--
<a href="/boardRead?id={{board.id}}">
    <div class="twits">
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <button class="btn">검색</button>
        </form>
        {% for twit in twits %}
          <div class="twit">
            <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
            <input type="hidden" value="{{twit.id}}" class="twit-id">
            <div class="twit-author">{{twit.User.nick}}</div>
            {% if not followingIdList.includes(twit.User.id) and twit.User.id !== user.id %}
              <button class="twit-follow">팔로우하기</button>
            {% endif %}
            <div class="twit-content">{{twit.content}}</div>
            {% if twit.img %}
              <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
-->
    <script>
      init = () => {
        let date = document.querySelectorAll('.list_date').value;
        console.log(date);
      }
    </script>
</body>
</html>

