<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div>
        <div class="title">
            <h1 onclick="location.href='/'">layout</h1>
        </div>
        <div>
          <div class="nav">
            <a href="/board">
              게시판
            </a>
          {% if user %}
              <a class="mypage" href="/mypage">마이페이지</a>
              <a>로그아웃</a>
          {% else %}
            <a class="login" href="/login">로그인</a>
          {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert(new URL(location.href).searchParams.get('error'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>