{% extends 'layout.html' %}

{% block content %}

<div>
    <div style="width: 70vh;">
        <div style="float: left;">
            {% if {{user.IMG}} %}
                <img src="" alt="프로필 사진">
            {% else %}
                <img src="{{user.IMG}}" alt="프로필 사진">
            {% endif %}
        </div>
        <div style="float: right;">
            {{user.NICK}}
        </div>
    </div>
    <br><br><br><br>
    <div id="written">
        {% for post in posts %}
        <table>
            <tr>
                <th>제목</th>
                <th>날짜</th>
                <th>조회수</th>
            </tr>
            <tr>
                <td><a href="/board/{{post.BID}}">{{post.title}}</a></td>
                <td>{{post.craetedAt}}</td>
                <td>{{post.read}}</td>
            </tr>
        </table>
        {% endfor %}
    </div>
</div>

{% endblock %}